@import "~bootstrap/scss/bootstrap";

body{
    background-color: #eee;
    margin: auto;
}

.center {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    border-radius: 25px;
    padding: 10px;
}